In [4]:
lst=[1,2,3,4,5,6,7,8]
print(type(lst))
print(lst[3])
print(lst.index(3))

<class 'list'>
4
2

In [2]:
print(len(lst))

8

In [3]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
print(lst[4])

5

In [7]:
print(lst[1:5])

[2, 3, 4, 5]

In [8]:
print(lst[:5])

[1, 2, 3, 4, 5]

In [9]:
print(lst[5:])

[6, 7, 8]

In [10]:
print(lst[:])

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
lst.append(9)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
lst1=[10,11,12]
lst.append(lst1)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12]]

In [13]:
lst.extend(lst1)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12], 10, 11, 12]

In [14]:
lst.insert(2,5)
print(lst)

[1, 2, 5, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12], 10, 11, 12]

In [16]:
lst.remove(5)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, [10, 11, 12], 10, 11, 12]

In [20]:
lst.pop()
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
lst.reverse()
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
lst.sort()
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
lst.sort(reverse=True)
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
print(max(lst))

9

In [25]:
min(lst)

1

In [26]:
max(lst)

9

In [27]:
sum(lst)

45

# Tuple

In [28]:
tple=(1,2,3,4,5,6)
print(tple)

(1, 2, 3, 4, 5, 6)

In [34]:
tple1=list(tple)
tple1.append(7)
print(tple1)
print(type(tple))
tple2=tuple(tple1)

[1, 2, 3, 4, 5, 6, 7]
<class 'tuple'>

# Set

In [35]:
set1={1,2,3,4,5,6,7}
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [36]:
set2={3,4,5,6,7,8,9,10,11}
print(set2)

{3, 4, 5, 6, 7, 8, 9, 10, 11}

In [37]:
print(set1.intersection(set2))

{3, 4, 5, 6, 7}

In [38]:
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [39]:
print(set1.difference(set2))

{1, 2}

In [42]:
dic={
    'name':'nishan',
    'roll':'18che001'
}
print(dic)

{'name': 'nishan', 'roll': '18che001'}

In [43]:
print(dic['name'])

nishan

In [44]:
print(dic.get('phn'))

None

In [45]:
dic['name']='shushan'
print(dic)

{'name': 'shushan', 'roll': '18che001'}

In [46]:
print(dic.keys())

dict_keys(['name', 'roll'])

In [47]:
print(dic.values())

dict_values(['shushan', '18che001'])

In [48]:
print(dic.items())

dict_items([('name', 'shushan'), ('roll', '18che001')])

In [49]:
dic['phn']='01834600714'
print(dic)

{'name': 'shushan', 'roll': '18che001', 'phn': '01834600714'}

In [51]:
b={'code':'1100'}
dic.update(b)
print(dic)

{'name': 'shushan', 'roll': '18che001', 'phn': '01834600714', 'code': '1100'}

In [55]:
d={
    'math':98 ,
    'chemistry':67
}
print(min(d,key=d.get))

chemistry

In [61]:
print(d['math'])

98

In [66]:
dic={ 1: {'name':'nishna','age':24},
      2: {'name':'shudhsn','age':54}
}
print(dic)

{1: {'name': 'nishna', 'age': 24}, 2: {'name': 'shudhsn', 'age': 54}}

In [67]:
print(dic[1])

{'name': 'nishna', 'age': 24}

In [69]:
print(dic[1]['name'])

nishna

In [70]:
dic[1]['sex']='male'
print(dic)

{1: {'name': 'nishna', 'age': 24, 'sex': 'male'}, 2: {'name': 'shudhsn', 'age': 54}}

In [71]:
dic[3]={'name':'shu','age':54}
print(dic)

{1: {'name': 'nishna', 'age': 24, 'sex': 'male'}, 2: {'name': 'shudhsn', 'age': 54}, 3: {'name': 'shu', 'age': 54}}

In [72]:
del dic[2]
print(dic)

{1: {'name': 'nishna', 'age': 24, 'sex': 'male'}, 3: {'name': 'shu', 'age': 54}}

In [73]:
dic[3]['age']='26'
print(dic)

{1: {'name': 'nishna', 'age': 24, 'sex': 'male'}, 3: {'name': 'shu', 'age': '26'}}

In [75]:
ids=['emp1','emp2','emp3']
dic=[
    {'name':'bob','job':'mng'},
    {'name':'joj','job':'gm'},
    {'name':'kok','job':'md'}
    
]
dic=dict(zip(ids,dic))
print(dic)

{'emp1': {'name': 'bob', 'job': 'mng'}, 'emp2': {'name': 'joj', 'job': 'gm'}, 'emp3': {'name': 'kok', 'job': 'md'}}

In [76]:
d={
    1:{'name':'bob','job':'mng'},
    2:{'name':'joj','job':'gm'},
    3:{'name':'kok','job':'md'}
}
d[1]['name']='jish'
d[1]['job']='eng'
print(d)

{1: {'name': 'jish', 'job': 'eng'}, 2: {'name': 'joj', 'job': 'gm'}, 3: {'name': 'kok', 'job': 'md'}}

In [78]:
d1={'name':'bob','job':'mng'}
d2={'name':'joj','job':'gm'}
d1.update(d2)
print(d1)

{'name': 'joj', 'job': 'gm'}

In [79]:
d={
    1:{'name':'bob','job':'mng'},
    2:{'name':'joj','job':'gm'},
    3:{'name':'kok','job':'md'}
}
for id,info in d.items():
    print('\nemply',id)
    for key in info:
        print(key + ':',info[key])

emply 1
name: bob
job: mng

emply 2
name: joj
job: gm

emply 3
name: kok
job: md

In [82]:
for id,info in d.items():
    print('\nserial',id)
    print(key + ':',info[key])

serial 1
job: mng

serial 2
job: gm

serial 3
job: md

In [1]:
dic={
    'info1':{'Name':'Jishan','age':24,'job':'Doctor'},
    'info2':{'Name':'Shushan','age':23,'job':'Doctor'},
    'info3':{'Name':'Nishan','age':22,'job':'Researcher'}
}
print(dic)

{'info1': {'Name': 'Jishan', 'age': 24, 'job': 'Doctor'}, 'info2': {'Name': 'Shushan', 'age': 23, 'job': 'Doctor'}, 'info3': {'Name': 'Nishan', 'age': 22, 'job': 'Researcher'}}

In [2]:
for id, info in dic.items():
    print('\nserial',id)
    for key in info:
        print(key+':',info[key])

serial info1
Name: Jishan
age: 24
job: Doctor

serial info2
Name: Shushan
age: 23
job: Doctor

serial info3
Name: Nishan
age: 22
job: Researcher

In [102]:
for id, info in dic.items():
    print('\nserial',id)
    ##for key in info:
    print(key + ':',info[key])

serial info1
job: Doctor

serial info2
job: Doctor

serial info3
job: Researcher

In [103]:
print(dic.items())

dict_items([('info1', {'Name': 'Jishan', 'age': 24, 'job': 'Doctor'}), ('info2', {'Name': 'Shushan', 'age': 23, 'job': 'Doctor'}), ('info3', {'Name': 'Nishan', 'age': 22, 'job': 'Researcher'})])

In [106]:
dic={
    'name':'Nishan',
    'age':24,
    'job':'researcher'
}
print(dic)

{'name': 'Nishan', 'age': 24, 'job': 'researcher'}

In [107]:
b={'course':'python'}
dic.update(b)
print(dic)

{'name': 'Nishan', 'age': 24, 'job': 'researcher', 'course': 'python'}

In [108]:
del dic['age']
print(dic)

{'name': 'Nishan', 'job': 'researcher', 'course': 'python'}

In [109]:
d=dic.copy()
print(d)

{'name': 'Nishan', 'job': 'researcher', 'course': 'python'}

In [1]:
dic={
    'name':'Nishan',
    'age':24,
    'job':'researcher'
}
print(dic)

{'name': 'Nishan', 'age': 24, 'job': 'researcher'}

In [2]:
dic['name']='shushan'
print(dic)

{'name': 'shushan', 'age': 24, 'job': 'researcher'}

In [3]:
d=dic.copy()
print(d)

{'name': 'shushan', 'age': 24, 'job': 'researcher'}

In [5]:
del dic['job']
print(dic)

{'name': 'shushan', 'age': 24}

In [7]:
b={
    'varsity':'BSMrsTU'
}
dic.update(b)
print(dic)

{'name': 'shushan', 'age': 24, 'varsity': 'BSMrsTU'}

In [8]:
dic.clear()
print(dic)

{}

In [9]:
print(dic.get('name'))

None

In [10]:
dic={
    'name':'Nishan',
    'age':24,
    'job':'researcher'
}
print(dic)

{'name': 'Nishan', 'age': 24, 'job': 'researcher'}

In [11]:
print(dic.get('name'))

Nishan

In [15]:
print(dic.keys())

dict_keys(['name', 'age', 'job'])

In [16]:
print(dic.values())

dict_values(['Nishan', 24, 'researcher'])

In [17]:
print(dic.items())

dict_items([('name', 'Nishan'), ('age', 24), ('job', 'researcher')])

In [18]:
a={}
n=3
for i in range(n):
    a[i]=input()
print(a)

nishan
shushan
jishan
{0: 'nishan', 1: 'shushan', 2: 'jishan'}

In [19]:
a={}
n=5
for i in range(n):
    keys=input()
    values=input()
    a[keys]=values
print(a)

nishan
shudhan
jihsn
ammu
vabi
mahin
lutfha
jack
azmal
jakis
{'nishan': 'shudhan', 'jihsn': 'ammu', 'vabi': 'mahin', 'lutfha': 'jack', 'azmal': 'jakis'}

In [24]:
dic={'name':'Nishan','age':24,'job':'researcher'}
dic2={'name':'ishan','age':24,'job':'researcher'}
ndic={**dic,**dic2}
print(ndic)

{'name': 'ishan', 'age': 24, 'job': 'researcher'}

In [25]:
dic={'name':'Nishan','age':24,'job':'researcher'}
dic2={'name':'ishan','age':24,'job':'researcher'}
ndic={**dic,**dic2}
print(ndic)

{'name': 'ishan', 'age': 24, 'job': 'researcher'}

In [27]:
dic1={'name':'Nishan','age':24,'job':'researcher'}
dic2={'name':'ishan','age':24,'job':'researcher'}
dic3={**dic1,**dic2}
print(dic3)

{'name': 'ishan', 'age': 24, 'job': 'researcher'}

In [30]:
keys=['nis','jis','shush']
values=[23,24,25]
d=dict(zip(keys,values))
print(d)

{'nis': 23, 'jis': 24, 'shush': 25}

In [32]:
dic1={'name':'Nishan','age':24,'job':'researcher'}
dic2={'name':'ishan','age':24,'job':'researcher'}
dic3=dic1.copy()
dic3.update(dic2)
print(dic3)

{'name': 'ishan', 'age': 24, 'job': 'researcher'}

In [33]:
dic1={'name':'Nishan','age':24,'job':'researcher'}
b={'varsity':'MIT'}
dic1.update(b)
print(dic1)

{'name': 'Nishan', 'age': 24, 'job': 'researcher', 'varsity': 'MIT'}

In [3]:
dic1={'name':'Nishan','age':24,'job':'researcher'}
dic2={'ten':10,'nine':9,'eight':8}
di = dic1.copy()
di.update(dic2)
print(di)

{'name': 'Nishan', 'age': 24, 'job': 'researcher', 'ten': 10, 'nine': 9, 'eight': 8}

In [4]:
employee={'rahim','karim','jashim'}
job={'age':24,'salary':4000}
d=dict.fromkeys(employee,job)
print(d)

{'karim': {'age': 24, 'salary': 4000}, 'rahim': {'age': 24, 'salary': 4000}, 'jashim': {'age': 24, 'salary': 4000}}

In [7]:
def fun(**kwargs):
    print(type(kwargs))
    
    for key,value in kwargs.items():
        print("{} is {}".format(key,value))

fun(name='nishan',age=24)

<class 'dict'>
name is nishan
age is 24