In [1]:
print('Hello world')

Hello world

In [2]:
name=input()
print('My name is',name)

Nishan
My name is Nishan

In [3]:
print('Sayed newaj chowdhury Nishan')

Sayed newaj chowdhury Nishan

In [6]:
a,b=map(int,input('two number').split())
print(a,b,end=' ')

two number25 15
25 15

In [7]:
A=15
B=25
print(A)
print(B)

15
25

In [6]:
A=15
B=25
print(A,end='     ')
print(B)

15     25

In [7]:
a,b,c=map(int,input('Take three number').split())
print(a,end='This is one')
print(b,end='This is two')
print(c,end='This is three')

Take three number4 5 6
4This is one5This is two6This is three

In [8]:
a,b,c=map(int,input('Take three number').split())
print(a,b,c)

Take three number4 5 6
4 5 6

In [9]:
a,b=map(int,input('find the multiplication of these number').split())
mul=a*b
print(mul)

find the multiplication of these number3 2
6

In [10]:
a,b=map(float,input('Two float number:').split())
div=a/b
print(div)

Two float number:2.5 3.4
0.7352941176470589

In [12]:
a,b=map(int,input('Take two number:').split())
print(type(a))
print(type(b))

Take two number:4 5
<class 'int'>
<class 'int'>

In [17]:
a=5
b=7
print(type(a))
print(type(b))
sum=a+b
print(sum)
print(type(sum))

<class 'int'>
<class 'int'>
12
<class 'int'>

In [19]:
a,b=map(float,input().split())
print(type(a))
print(type(b))

4.5 6.5
<class 'float'>
<class 'float'>

In [20]:
a,b=map(float,input().split())
add=a+b
sub=a-b
mul=a*b
div=a/b
print('The sum of the %d and %d is %d'%(a,b,a+b))
print('the sub of the %d and %d is %d'%(a,b,a-b))
print('the mul of the %d and %d is %d'%(a,b,a*b))
print('the div of the %d and %d is %d'%(a,b,a/b))

6.5 6.5
The sum of the 6 and 6 is 13
the sub of the 6 and 6 is 0
the mul of the 6 and 6 is 42
the div of the 6 and 6 is 1

In [21]:
a,b,c=map(int,input('Take three number:').split())
avg=(a+b+c)/3
print(avg)

Take three number:3 3 3
3.0

In [22]:
a,b,c=map(int,input('Take three number:').split())
sum=a+b+c
avg=sum/3
print(avg)

Take three number:3 3 3
3.0

In [26]:
num1=5.6
print(type(num1))

<class 'float'>

In [28]:
num=input()
print(type(num))
num1=float(num)
print(type(num1))

3.4
<class 'str'>
<class 'float'>

In [30]:
a=3.4
b=6
div=a/b
print(div)

0.5666666666666667

In [31]:
a,b=map(int,input('take two number:').split())
print(type(a))
print(type(b))
a=int(a)
b=int(b)
print(type(a))
print(type(b))
sum=a+b
print(sum)

take two number:3 3
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
6

In [33]:
a='6'
b='6'
print(type(a))
print(type(b))
a=int(a)
b=int(b)
print(type(a))
print(type(b))
sum=a+b
print(sum)

<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
12